{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "include": ["transform-es2015-spread"]
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-flow-strip-types"
  ]
}
