{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-console": "off"
  }
}
